//colors
$bg-color: linear-gradient(180deg, #131025 10.5%, #261E53 57.3%) no-repeat center/cover;
$primary-color: #201A46;
$secondary-color: #BEB7E1;
$darkblue-color: #131025;
$text-color: #FFFFFF;

//others
$container-width: 1300px;
$container-padding-x: 15px;
$font-family-base: "Roboto", sans-serif;
$font-family-secondary: "Arvo", serif;
$transition-duration: 0.2s;