@use '../base/variables' as vars;

.about {
  margin: 40px 0;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: 92px;
    margin: 0;
  }

  &__text {
    margin-top: 10px;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    line-height: 30px;
    font-weight: 700;
  }

  &__subtitle {
    margin-top: 40px;
    font-family: vars.$font-family-base;
    font-size: 56px;
  }

  &__advantages {
    margin-top: 40px;
  }
}

.advantages {
  &__list {
    display: grid;
    grid-template: repeat(3, min-content)/repeat(2, 1fr);
    gap: 25px 117px;
  }

  &__item {
    position: relative;
    color: vars.$primary-color;
    padding: 0 20px;
  }

  &__bg {
    position: absolute;
    inset: 0;
    background: #F6F6F6;
    filter: blur(3px);
    border-radius: 18px;
    z-index: 0;
  }

  &__content {
    position: relative;
    z-index: 1;
  }

  &__title {
    font-size: 28px;
    text-transform: uppercase;
  }

  &__descr {
    margin-left: 17px;
    max-width: 400px;
    font-size: 16px;
    text-transform: uppercase;
  }
}

@media (max-width: 992px) {
  .about {
    &__title {
      font-size: 60px;
      text-align: center;
    }

    &__text {
      font-size: 20px;
    }

    &__subtitle {
      margin-top: 60px;
      font-size: 30px;
      text-align: center;
    }
  }

  .advantages {
    &__list {
      grid-template-columns: auto;
    }
  }
}

@media (max-width: 600px) {
  .about {
    margin: 20px 0;

    &__title {
      font-size: 28px;
    }

    &__text {
      max-width: 400px;
      font-size: 14px;

      br {
        display: none;
      }
    }

    &__subtitle {
      font-size: 24px;
    }

    &__advantages {
      margin-top: 20px;
    }
  }

  .advantages {
    &__title {
      font-size: 14px;
    }

    &__descr {
      max-width: 300px;
      font-size: 12px;
    }
  }
}