@use '../base/variables' as vars;

.footer {
  padding: 20px 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: vars.$primary-color;

  p {
    font-size: 20px;
    white-space: nowrap;
  }
}

@media (max-width: 600px) {
  .footer {
    p {
      font-size: 16px;
    }
  }
}