@use '../base/variables' as vars;

.hero {
  margin: 40px 0;

  &__title {
    font-size: 148px;
    text-align: center;
    margin: 0;

    &_left {
      text-align: left;
    }
  }

  &__subtitle {
    font-size: 28px;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__slider {
    width: 500px;
    height: 500px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }

  &__info {
    display: inline-flex;
    align-items: center;
    column-gap: 20px;
    font-size: 18px;

    a {
      text-decoration: none;

      @media (any-hover: hover) {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__social {
    display: flex;
    column-gap: 25px;
  }

  &__button {
    margin: 50px 0;
    width: 300px;
    height: 75px;
    border-radius: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    font-size: 28px;
    letter-spacing: 0.05em;
    text-decoration: none;
  }
}

.slider-hero {
  &__slide {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    width: 100%;

    img {
      width: 100%;
    }
  }

  &__text {
    width: 90%;
    position: relative;
    display: block;
    font-family: vars.$font-family-secondary;
    background-color: #fff;
    font-weight: 700;
    font-size: 34px;
    color: vars.$primary-color;
    text-transform: uppercase;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 8px 10px rgba(247, 247, 247, 1);
    transform: translateY(-10px);
  }
}

@media (max-width: 992px) {
  .hero {
    &__title {
      font-size: 80px;
      text-align: center;
    }

    &__subtitle {
      font-size: 25px;
      margin-bottom: 40px;
    }

    &__info {
      display: none;
    }

    &__content {
      flex-direction: column;
      align-items: center;
    }

    &__button {
      margin: 0;
    }
  }
}

@media (max-width: 600px) {
  .hero {
    &__title {
      font-size: 55px;
      text-align: left;

      &_left {
        text-align: center;
      }
    }

    &__subtitle {
      font-size: 16px;
      margin: 30px 0;
    }

    &__info {
      display: none;
    }

    &__content {
      flex-direction: column;
      align-items: center;
    }

    &__button {
      margin: 0;
      margin-top: 30px;
      width: 200px;
      height: 40px;
      font-size: 19px;
    }

    &__slider {
      width: 360px;
      height: 350px;
    }
  }

  .slider-hero {
    &__slide {
      width: 300px;
    }

    &__text {
      font-size: 24px;
    }
  }
}